/* NAVIGATION */

body {
    background-color:#001B3B; 
    font-size: large;
}



ul {
    list-style: none;
}

nav ul {
    display: flex;
    justify-content: space-around;
}

nav a {
    text-decoration: none;
}

.everything-else
{
    color: white;
}

nav li {
    display: inline-block;
    background-color: bisque; 
    padding: 8px 16px;
    border-radius: 8px;
    text-decoration: none;

}

.current-page {
    transition-property: font-weight, padding;
    transition-duration: 0.3s;
    font-weight: bolder;
    color:black; 
    padding: 40px 50px;
}

/* HOME PAGE CONTENT STYLING */

